{% extends "diary/base.html" %}

{% load static %}

{% block title_block %}update_article{% endblock %}

{% block head %}
<style>
.lines {
    line-height: 2.0em;
}
</style>
{% endblock %}

{% block body %}
<div class="bg-light py-2">
  <div class="container">
    <form class="col" action="{% url 'diary:update_diary' pk=PK%}"
          method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row pt-3">
        <div class="col-lg-5">
          <input type="hidden" name="select_img"
                               value="" id="select_img">
          <div class="col-9 align-self-center mb-2 shadow-sm
              border-bottom p-0">
            <p class="col text-left font-weight-bold border-bottom text-muted mb-0">
              選択中のイラスト
            </p>
            <img class="img-fluid bg-white" src="{{ now_picture }}" alt='image' id="selected">
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination col">
              <li class="page-item">
                <a class="page-link" id="pagination_n" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% for i in num_four %}
              <li class="page-item page_number">
                <a class="page-link" data-loop="{{ forloop.counter0 }}">{{i}}</a>
              </li>
              {% endfor %}
              <li class="page-item">
                <a class="page-link" id="pagination_p" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          <div class="row">  
          {% if drawings_url_list is not None %}
            {% for drawing_url in drawings_url_list %}
            <div class="col-3 col-lg-6">
              <img src="{{ drawing_url }}"
                   class="imgs d-none" id="img{{ forloop.counter }}">
            </div>
            {% endfor %}
          {% endif %}
          </div>
        </div>
        <div class="col-lg-7">
          <label class="border-bottom text-muted font-weight-bold" id="for_move"
                        for="{{ form.a_title.id_for_label }}">
            タイトル
          </label>
          <input type="text" class="form-control shadow-sm border"
                 id="{{ form.a_title.id_for_label }}" name="a_title"
                 aria-describedby="Help" value="{{ form.a_title.value }}">
          <label class="border-bottom text-muted mt-3 font-weight-bold"
                         for="{{ form.text.id_for_label }}">本文</label>
          <textarea class="form-control text-justify border shadow-sm p-2 lines"
                    name="text" id="{{ form.text.id_for_label }}"
                    style="height: 60vh;">{{ form.text.value }}</textarea>

          <button type="submit" class="btn btn-primary mt-2">更新</button>
          <a class="btn btn-secondary mt-2" href="{% url 'drawing:drawing' %}">新しい絵を描く</a>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="{% static 'diary/pictures.js' %}"></script>
{% endblock %}
